.contact {
  margin-bottom: 700px;
  padding-bottom: 500px;
  &-container {
    display: flex;
  }
  &-items {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    text-decoration: none;
  }
  &-caption {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: #fff7f7;
    margin-bottom: 3px;
  }
  &-desc {
    margin-left: 10px;
  }
  &-link {
    display: flex;
    align-items: center;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: #595959;
  }
  &-name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: -60px;
    div {
      margin-left: 60px;
      display: flex;
      flex-direction: column;
    }
    &-label {
      font-family: $font-primary;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: calc(21 / 18);
      color: #bbbbbb;
      margin-bottom: 8px;
    }
    &-input {
      width: 166px;
      height: 50px;
      border: 2px solid #bbbbbb;
      padding: 0 5px;
      border-radius: 9px;
      background: transparent;
      color: #fff7f7;
    }
  }
  &-email {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    &-label {
      font-family: $font-primary;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: calc(21 / 18);
      color: #bbbbbb;
      margin-bottom: 8px;
    }
    &-input {
      width: 392px;
      height: 50px;
      border: 2px solid #bbbbbb;
      border-radius: 9px;
      padding: 0 5px;
      background-color: transparent;
      color: $color-white;
    }
  }
  &-message {
    margin-left: 165px;
  }
  &-mes {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &-label {
      font-family: $font-primary;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: calc(21 / 18);
      color: #bbbbbb;
      margin-bottom: 8px;
    }
    &-input {
      width: 392px;
      height: 35px;
      border: 2px solid #bbbbbb;
      border-radius: 9px;
      padding: 10px 5px;
      height: 100px;
      background-color: transparent;
      color: $color-white;
    }
  }
  &-button {
    cursor: pointer;
    width: 199px;
    height: 60px;
    padding: 5px 00px;
    background: $color-heading;
    border-radius: 9px;
    border: 2px solid $color-heading;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    img {
      margin-left: 15px;
    }
  }
}
