.header {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
  &-logo {
    font-style: normal;
    font-weight: 400;
    font-size: 103px;
    line-height: 110px;
    letter-spacing: 0.39em;
    font-family: $font-logo;
    color: $color-white;
  }
  &-mode {
    z-index: 99;
  }
  &-sun,
  &-moon {
    cursor: pointer;
    font-size: 70px;
    color: $color-white;
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: relative;
  }
}
.is-show {
  display: none;
  opacity: 0;
}
@media screen and (max-width: 1023.98px) {
  .header {
    &-logo {
      font-weight: 400;
      font-size: 65px;
      line-height: calc(70 / 65);
      letter-spacing: 0.39em;
    }
  }
}
@media screen and (max-width: 767.98px) {
  .header {
    margin-bottom: 50px;
    &-logo {
      font-size: 30px;
      line-height: calc(32 / 30);
    }
    &-sun,
    &-moon {
      font-size: 40px;
    }
  }
}
