.menu {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  background: $color-black;
  &-list {
    list-style: none;
    position: fixed;
    top: 200px;
    left: 1800px;
    z-index: 999;
  }
  &-items {
    cursor: pointer;
    margin-top: 25px;
    padding: 8px;
    background-color: $color-blue;
    border-radius: 100rem;
    border: 1px solid transparent;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    a {
      user-select: none;
      pointer-events: none;
      img {
        user-select: none;
        pointer-events: none;
      }
    }

    &:hover {
      border: 1px solid #00ffd1;
    }
    &:first-child {
      padding: 10px 8px;
      img {
        transform: translateX(2px);
      }
    }
    &:nth-child(2) {
      padding: 14px 8px;
      img {
        transform: translateX(6px);
      }
    }
    &:nth-child(3) {
      padding: 10px 8px;
    }
    &:nth-child(4) {
      padding: 10px 8px;
      img {
        transform: translateX(1px);
      }
    }
  }
}
.menu-items.active {
  border: 1px solid #00ffd1;
  background-image: $color-gradient;
  transform: scale(1.2);
}

@media screen and (max-width: 2559.98px) {
  .menu {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    background: $color-black;
    &-list {
      list-style: none;
      position: fixed;
      top: 200px;
      left: 1480px;
      z-index: 999;
    }
  }
}
@media screen and (max-width: 1919.98px) {
  .menu {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    background: $color-black;
    &-list {
      list-style: none;
      position: fixed;
      top: 200px;
      left: 1320px;
      z-index: 999;
    }
  }
}
@media screen and (max-width: 1599.98px) {
  .menu {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    background: $color-black;
    &-list {
      list-style: none;
      position: fixed;
      top: 200px;
      left: 1240px;
      z-index: 999;
    }
  }
}
@media screen and (max-width: 1439.98px) {
  .menu {
    &-list {
      top: 110px;
      left: 880px;
    }
  }
}
@media screen and (max-width: 1023.98px) {
  .menu {
    &-items {
      margin-top: 15px;
      width: 80%;
      &:first-child {
        padding: 8px 8px;
        img {
          transform: translateX(-0px);
        }
      }
      &:nth-child(2) {
        padding: 11px 10px;
        img {
          transform: translateX(0px);
        }
      }
      &:nth-child(3) {
        padding: 8px 8px;
        img {
          transform: translateX(0px);
        }
      }
      &:nth-child(4) {
        padding: 10px 8px;
      }
    }
    &-list {
      top: 90px;
      left: 680px;
    }
  }
}
@media screen and (max-width: 767.98px) {
  .menu {
    &-list {
      width: 425px;
      padding: 15px 30px 30px;
      left: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 790px;
      transform: translate(-50%, 0);
      background-color: rgba(204, 204, 204, 0.247);
      border-radius: 20px 20px 0 0;
    }
    &-items {
      margin: 0 5px;
      background-color: transparent;
      width: 55px;
      img {
        width: 50px;
      }
    }
  }
}
