.menu {
  &-list {
    list-style: none;
    position: fixed;
    z-index: 999;
    right: 700px;
    transform: translateY(30%);
  }
  &-items {
    cursor: pointer;
    margin-top: 25px;
    padding: 8px;
    background-color: $color-blue;
    border-radius: 100rem;
    border: 1px solid transparent;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    a {
      user-select: none;
      pointer-events: none;
      img {
        user-select: none;
        pointer-events: none;
      }
    }

    &:hover {
      border: 1px solid #00ffd1;
    }
    &:first-child {
      padding: 10px 8px;
      img {
        transform: translateX(2px);
      }
    }
    &:nth-child(2) {
      padding: 14px 8px;
      img {
        transform: translateX(6px);
      }
    }
    &:nth-child(3) {
      padding: 10px 8px;
    }
    &:nth-child(4) {
      padding: 10px 8px;
      img {
        transform: translateX(1px);
      }
    }
  }
}
.menu-items.active {
  border: 1px solid #00ffd1;
  background-image: $color-gradient;
}

@media screen and (max-width: 2559.98px) {
  .menu {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    background: $color-black;
    &-list {
      list-style: none;
      position: fixed;
      right: 380px;
      transform: translateY(30%);
      z-index: 999;
    }
  }
}
@media screen and (max-width: 1919.98px) {
  .menu {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    background: $color-black;
    &-list {
      list-style: none;
      position: fixed;
      z-index: 999;
      right: 265px;
    }
  }
}
@media screen and (max-width: 1599.98px) {
  .menu {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    background: $color-black;
    &-list {
      list-style: none;
      position: fixed;
      z-index: 999;
      right: 140px;
    }
  }
}
@media screen and (max-width: 1439.98px) {
  .menu {
    &-list {
      right: 210px;
    }
  }
}
@media screen and (max-width: 1359.98px) {
  .menu {
    &-list {
      right: 50px;
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .menu {
    &-items {
      margin-top: 15px;
      width: 80%;
      &:first-child {
        padding: 8px 8px;
        img {
          transform: translateX(-0px);
        }
      }
      &:nth-child(2) {
        padding: 11px 10px;
        img {
          transform: translateX(0px);
        }
      }
      &:nth-child(3) {
        padding: 8px 8px;
        img {
          transform: translateX(0px);
        }
      }
      &:nth-child(4) {
        padding: 10px 8px;
      }
    }
  }
}
@media screen and (max-width: 767.98px) {
  .menu {
    &-list {
      width: 435px;
      height: 90px;
      padding: 10px 20px 20px;
      position: fixed;
      bottom: 5px;
      background-color: #797979;
      border-radius: 20px;
      transform: translate(0);
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-items {
      display: inline-block;
      margin: 0 5px;
      background-color: transparent;
      width: 55px;
      img {
        width: 50px;
      }
    }
  }
  .menu-items.active {
    border: 1px solid #00ffd1;
    background-image: $color-gradient;
    transform: scale(1.2);
  }
}
@media screen and (max-width: 424.98px) {
  .menu {
    &-list {
      right: 4px;
      bottom: 5px;
      transform: translate(0);
    }
  }
}
@media screen and (max-width: 409.98px) {
  .menu {
    &-list {
      width: 375px;
      height: 80px;
      padding: 10px 10px 10px;
      right: 0;
      bottom: 5px;
      transform: translate(0);
    }
    &-items {
      img {
        width: 80%;
      }
      &:first-child {
        padding: 8px 2px 8px 8px;
        img {
          transform: translateX(2px);
        }
      }
      &:nth-child(2) {
        padding: 10px 7px 10px 5px;
        img {
          transform: translateX(6px);
        }
      }
      &:nth-child(3) {
        padding: 10px 0px 10px 10px;
      }
      &:nth-child(4) {
        padding: 10px 0px 7px 8px;
        img {
          transform: translateX(1px);
        }
      }
      &:last-child {
        padding: 10px 0px 10px 10px;
        img {
          transform: translateX(0px);
        }
      }
    }
  }
}
