.skill {
  &-container {
    display: flex;
    margin-left: -80px;
  }
  &-show {
    margin-left: 80px;
  }
  &-items {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 17px;
    border: 2px solid #001aff;
    border-radius: 13px;
    width: 435px;
    margin-bottom: 33px;
    img {
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
  &-design {
    padding: 27px 17px;
  }
  &-caption {
    margin-left: 50px;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    background: linear-gradient(
      180deg,
      #001aff 0%,
      rgba(0, 255, 209, 0.87) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &-arrow {
    margin-left: 50px;
  }
  &-title {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: $color-white;
  }
  &-menu {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    div {
      display: flex;
      margin-bottom: 20px;
    }
  }
  &-percent {
    width: 326px;
    height: 12px;
    background: linear-gradient(
      180deg,
      #001aff 0%,
      rgba(0, 255, 209, 0.87) 100%
    );
    border-radius: 5px;
    margin-left: auto;
    transform: translateY(40%);
    position: relative;
  }
}
.skill-html::before {
  content: "";
  position: absolute;
  width: 96px;
  height: 12px;
  background: #ccc;
  border-radius: 0 5px 5px 0;
  right: 0;
}
.skill-html::after {
  content: "70%";
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: #605858;
  right: 0;
  top: -23px;
}
.skill-css::before {
  content: "";
  position: absolute;
  width: 126px;
  height: 12px;
  background: #ccc;
  border-radius: 0 5px 5px 0;
  right: 0;
}
.skill-css::after {
  content: "60%";
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: #605858;
  right: 0;
  top: -23px;
}
.skill-js::before {
  content: "";
  position: absolute;
  width: 256px;
  height: 12px;
  background: #ccc;
  border-radius: 0 5px 5px 0;
  right: 0;
}
.skill-js::after {
  content: "20%";
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: #605858;
  right: 0;
  top: -23px;
}
.skill-react::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  background: #ccc;
  border-radius: 5px;
  right: 0;
}
.skill-react::after {
  content: "20%";
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: #605858;
  right: 0;
  top: -23px;
}
.show-skill {
  visibility: visible;
  opacity: 1;
  img {
    transform: rotate(180deg);
  }
}
