$font-primary: "Roboto", sans-serif;
$font-logo: "Ropa Sans", sans-serif;
$color-black: #000;
$color-white: #fff;
$color-blue: #051390;
$color-gradient: linear-gradient(180deg, #2b00d9 0%, #00ffd1 100%);
$color-heading: #001aff;
